<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>This is home page</title>
</head>

<body>

	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-centre">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>
				Start collecting your contacts in very smarter way.
				We provide very efficient and smarter way of handling contacts.
			</p>

			<div class="button-wrapper">
				<a href="#" th:href="@{/signup/}" class="button-link">Get Started</a>
			</div>

		</div>
	</section>

</body>

</html>